CONFIG_LV_CONF_SKIP=y
CONFIG_LV_USE_OBSERVER=y
CONFIG_LV_USE_SYSMON=y
CONFIG_LV_DEF_REFR_PERIOD=33
CONFIG_LV_USE_PERF_MONITOR=y
CONFIG_LV_USE_DEMO_WIDGETS=y

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y