menu "Example Configuration"
    choice EXAMPLE_LCD_BUFFER_MODE
        prompt "RGB LCD Buffer Mode"
        default EXAMPLE_USE_SINGLE_FB
        help
            Select the LCD buffer mode.

        config EXAMPLE_USE_SINGLE_FB
            bool "Use single frame buffer"
            help
                Allocate one frame buffer in the driver.
                Allocate one draw buffer in LVGL.

        config EXAMPLE_USE_DOUBLE_FB
            bool "Use double frame buffer"
            help
                Allocate two frame buffers in the driver.
                The frame buffers also work as ping-pong draw buffers in LVGL.

        config EXAMPLE_USE_BOUNCE_BUFFER
            bool "Use bounce buffer"
            help
                Allocate one frame buffer in the driver.
                Allocate two bounce buffers in the driver.
                Allocate one draw buffer in LVGL.
    endchoice


endmenu
