menu "BSP Panel Selection"

    choice BSP_PANEL
        prompt "LCD Panel (timing + touch)"
        default BSP_PANEL_H050A29

        config BSP_PANEL_H050A29
            bool "H050A29 (5.0 inch / 800x480 / GT911)"

        config BSP_PANEL_H070B26
            bool "H070B26 (7.0 inch / 1024x600 / GT911)"
    endchoice

endmenu
